{% extends 'base.html.twig' %}

{% block title %}Your account!
{% endblock %}

{% block body %}
	<h1 class="w-100 text-center">CCP :
		{{ account.number }}</h1>
	<div class="w-75 mx-auto p-3 ">
		<div class="d-flex justify-content-constant p-3 bg-success">
			<a href="{{ path('transaction', {'id' : account.id}) }}" class="border-right col-4 text-white">
				Add a Transaction</a>
			<a href="{{ path('transfert') }}" class=" border-right col-4 text-white">
				Add a Transfert</a>
			<a href="{{ path('account_delete', {'id' : account.id}) }}" class="col-4 text-white">Delete this Account</a>
		</div>
		<div class="border">
			{% if account.money < 0 %}
				<div class="text-danger h2">{{account.money}}
					€</div>
			{% else %}
				<div class="text-success h2">{{account.money}}
					€</div>
			{% endif %}
		</div>
		<div class="border-right border-left border-bottom overflow-auto">
			{% for aExchange in aExchanges %}
				<div class="p-3 d-flex justify-content-between">
					{% if aExchange.status is defined %}
						<div class="m-3 d-flex justify-content-column">
							<div class="w-100">{{aExchange.name}}</div>
							<div>{{aExchange.dateCreated | date('d/m/Y')}}
								à
								{{aExchange.dateCreated | date('H:i')}}</div>
						</div>
						{% if aExchange.status == 0 %}
							<div class="text-success m-3">+{{aExchange.price}}
								€</div>
						{% else %}
							<div class="text-danger m-3">-{{aExchange.price}}
								€</div>
						{% endif %}
					{% endif %}
					{% if aExchange.accountToDebit is defined and aExchange.accountToCredit == account %}
						<div class="d-flex justify-content-column">
							{% if aExchange.accountToDebit.number is not defined %}
								<div class="w-100">
									From account delete recently</div>
							{% else %}
								<div class="w-100">
									From
									{{aExchange.accountToDebit.number}}</div>
							{% endif %}
							<div>{{aExchange.dateCreated | date('d/m/Y')}}
								à
								{{aExchange.dateCreated | date('H:i')}}</div>
						</div>
						<div class="text-success m-3">+{{aExchange.amount}}
							€</div>
					{% elseif aExchange.accountToDebit is defined and aExchange.accountToDebit == account %}
						<div class="d-flex justify-content-column">
							{% if aExchange.accountToCredit.number is not defined %}
								<div class="w-100">
									To account delete recently</div>
							{% else %}
								<div class="w-100">
									To
									{{aExchange.accountToCredit.number}}</div>
							{% endif %}
							<div>{{aExchange.dateCreated | date('d/m/Y')}}
								à
								{{aExchange.dateCreated | date('H:i')}}</div>
						</div>
						<div class="text-danger m-3">-{{aExchange.amount}}
							€</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
