{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<h1 class="w-100 text-center">Dashboard</h1>
	<div class="w-100 m-3 d-flex justify-content-around">
		{% for account in  accounts %}
			<div class="w-25 border">
				CCP : {{account.number}}
				{% if account.money < 0 %}
					<div class="text-danger">{{account.money}}€</div>
				{% else %}
					<div class="text-success">{{account.money}}€</div>
					{% for transaction in account.transactions|slice(0, 1) %}
					{{transaction.name}}{{transaction.price}}
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
